


@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
/* font-family: 'Ubuntu', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');
/* font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif; */






.nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 85px;
    /* border: 1px solid red; */
    justify-content: space-between;
    font-size: 35px;
    height: 71px;
    padding-left: 7px;
    padding-right: 7px;
    background-color: rgb(21, 21, 201);
    margin-top: 0px;
    font-family: 'Roboto', sans-serif;

}
.nav ul li{
    color: rgb(255, 255, 255);
    padding-top: 12px;
}

.nav ul li input{
   padding: 10px;
   width: 433px;
   border-radius: 10px;
   border: none;
}

@media screen and (min-width:100px) and (max-width:700px)  {
   
    .nav ul{
        display: flex;
        flex-direction: column;
        background-color: blue;
    }

}

.nav2{
    height: 50px;
    width: 100%;
    /* border: 2px solid red; */
    margin-top: -33px;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    background-color: blue;
   }
   .nav2 div:nth-child(1){
    /* border: 2px solid rgb(0, 200, 255); */
    height: 74px;
    width: 540px;
   }
   .nav2 div:nth-child(2){
    /* border: 2px solid rgb(255, 0, 179); */
    height: 74px;
    width: 597px;
    margin-left: 73px;
   }
   .nav2 div:nth-child(1) ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 64px;
    font-size: 17px;
    margin-left: -32px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
   
}
.nav2 div:nth-child(2) ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 64px;
    font-size: 17px;
    margin-left: -32px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}
a{
    color: white;
    text-decoration: none;
}

